.color-green{
	color:#4f9962
}

.color-red{
	color:#c86e67
}

.color-blue{
	color:#0180bc
}

.color-yellow{
	color:#deb25d
}

.color-orange{
	color:#e27c5c
}

.color-gray{
	color:#414141
}

.color-gray-light{
	color:#9a9a9a
}

.color-facebook{
	color:#3b5998
}

.color-twitter{
	color:#00acee
}

.color-google{
	color:#dd4b39
}

@font-face{
	font-family:'fontello';
	src:url('/fonts/fontello.eot?55368183');
	src:url('/fonts/fontello.eot?55368183#iefix') format('embedded-opentype'),url('/fonts/fontello.woff?55368183') format('woff'),url('/fonts/fontello.ttf?55368183') format('truetype'),url('/fonts/fontello.svg?55368183#fontello') format('svg');
	font-weight:normal;
	font-style:normal
}

[class^="fonticon-"]:before,[class*=" fonticon-"]:before{
	font-family:"fontello";
	font-style:normal;
	font-weight:normal;
	speak:none;
	display:inline-block;
	text-decoration:inherit;
	width:1em;
	text-align:center;
	font-variant:normal;
	text-transform:none;
	line-height:1em
}

.fonticon-color-gray{
	color:#b3b3b3
}

a:hover .fonticon-color-gray,.fonticon-color-gray.active{
	color:#505050
}

.fonticon-color-yellow{
	color:#deb25d
}

a:hover .fonticon-color-yellow,.fonticon-color-yellow.active{
	color:#ebbe35
}

.fonticon-color-red{
	color:#96413a
}

a:hover .fonticon-color-red,.fonticon-color-red.active{
	color:#672925
}

.fonticon-size-large{
	font-size:18px
}

.fonticon-size-xlarge{
	font-size:40px
}

.fonticon-size-xxlarge{
	font-size:55px
}

.fonticon-pencil:before{
	content:'\e800'
}

.fonticon-rotate:before{
	content:'\e801'
}

.fonticon-alert:before{
	content:'\e802'
}

.fonticon-youtube:before{
	content:'\e803'
}

.fonticon-star:before{
	content:'\e804'
}

.fonticon-home:before{
	content:'\e805'
}

.fonticon-facebook:before{
	content:'\e806'
}

.fonticon-facebook-squared:before{
	content:'\e807'
}

.fonticon-twitter:before{
	content:'\e808'
}

.fonticon-googleplus:before{
	content:'\e809'
}

.fonticon-phone:before{
	content:'\e80a'
}

.fonticon-user:before{
	content:'\e80b'
}

.fonticon-edit:before{
	content:'\e80c'
}

.fonticon-print:before{
	content:'\e80d'
}

.fonticon-megaphone:before{
	content:'\e80e'
}

.fonticon-smile:before{
	content:'\e80f'
}

.fonticon-block:before{
	content:'\e810'
}

.fonticon-config:before{
	content:'\e811'
}

.fonticon-off:before{
	content:'\e812'
}

.fonticon-email:before{
	content:'\e813'
}

.fonticon-down-open-mini:before{
	content:'\e814'
}

.fonticon-up-open-mini:before{
	content:'\e815'
}

.fonticon-search:before{
	content:'\e816'
}

.fonticon-docs:before{
	content:'\e817'
}

.fonticon-floppy:before{
	content:'\e818'
}

.fonticon-right-open:before{
	content:'\e819'
}

.fonticon-padlock:before{
	content:'\e81a'
}

.fonticon-keyboard:before{
	content:'\e81b'
}

.fonticon-close-circle:before{
	content:'\e81c'
}

.fonticon-cancel:before{
	content:'\e81d'
}

.fonticon-ok:before{
	content:'\e81e'
}

.fonticon-upload:before{
	content:'\e81f'
}

.fonticon-left-open:before{
	content:'\e820'
}

.fonticon-keyboard{
	color:#414141;
	font-size:2em
}

.fonticon-alert{
	color:#c81414
}

.sprite_olx_cell_to_ekhanei{
	width:200px;
	height:70px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -2px -2px
}

.sprite_logo{
	width:310px;
	height:66px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -206px -2px
}

.sprite_caticon_car{
	width:28px;
	height:28px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -520px -2px
}

.sprite_caticon_electronics{
	width:28px;
	height:28px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -520px -32px
}

.sprite_caticon_fashion{
	width:28px;
	height:28px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -552px -2px
}

.sprite_caticon_hobbies{
	width:28px;
	height:28px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -552px -32px
}

.sprite_caticon_home{
	width:28px;
	height:28px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -584px -2px
}

.sprite_caticon_house{
	width:28px;
	height:28px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -584px -32px
}

.sprite_caticon_jobs{
	width:28px;
	height:28px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -616px -2px
}

.sprite_grameenphone_logo{
	width:100px;
	height:27px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -648px -2px
}

.sprite_fb_like{
	width:47px;
	height:20px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -648px -31px
}

.sprite_logo_cell{
	width:142px;
	height:20px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -752px -2px
}

.sprite_flag_bn{
	width:21px;
	height:15px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -616px -32px
}

.sprite_flag_en{
	width:21px;
	height:15px;
	background:url("/img/bb4fa44c8ba2121f3ad182477002f53dd8861303/index_bd.png") no-repeat -616px -51px
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}

body{
	margin:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
	display:block
}

audio,canvas,progress,video{
	display:inline-block;
	vertical-align:baseline
}

audio:not([controls]){
	display:none;
	height:0
}

[hidden],template{
	display:none
}

a{
	background:transparent
}

a:active,a:hover{
	outline:0
}

abbr[title]{
	border-bottom:1px dotted
}

b,strong{
	font-weight:bold
}

dfn{
	font-style:italic
}

h1{
	font-size:2em;
	margin:.67em 0
}

mark{
	background:#ff0;
	color:#000
}

small{
	font-size:80%
}

sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}

sup{
	top:-0.5em
}

sub{
	bottom:-0.25em
}

img{
	border:0
}

svg:not(:root){
	overflow:hidden
}

figure{
	margin:1em 40px
}

hr{
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}

pre{
	overflow:auto
}

code,kbd,pre,samp{
	font-family:monospace,monospace;
	font-size:1em
}

button,input,optgroup,select,textarea{
	color:inherit;
	font:inherit;
	margin:0
}

button{
	overflow:visible
}

button,select{
	text-transform:none
}

button,html input[type="button"],input[type="reset"],input[type="submit"]{
	-webkit-appearance:button;
	-moz-appearance:button;
	cursor:pointer
}

button[disabled],html input[disabled]{
	cursor:default
}

button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0
}

input{
	line-height:normal
}

input[type="checkbox"],input[type="radio"]{
	box-sizing:border-box;
	padding:0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
	height:auto
}

input[type="search"]{
	-webkit-appearance:textfield;
	-moz-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none;
	-moz-appearance:none
}

fieldset{
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:.35em .625em .75em
}

legend{
	border:0;
	padding:0
}

textarea{
	overflow:auto
}

optgroup{
	font-weight:bold
}

table{
	border-collapse:collapse;
	border-spacing:0
}

td,th{
	padding:0
}

.wrapper{
	width:320px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF
}

header{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	padding:25px 0;
	margin-top:0
}

header .logo{
	float:left;
	outline:0
}

header .account-container{
	margin-top:20px;
	float:right
}

header .btn-cta{
	margin-top:10px;
	margin-left:25px;
	float:right
}

header .language-switch{
	float:right;
	margin:25px 0 0 20px;
	font-size:14px
}

header .language-switch i{
	float:left;
	margin:2px 5px 0 0
}

.main{
	width:300px;
	margin-right:auto;
	margin-top:-216px;
	position:relative
}

.main #likebtn{
	position:absolute;
	top:10px;
	right:100px
}

.left{
	float:left
}

.right{
	float:right
}

.map{
	float:right;
	position:relative
}

.map svg path{
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear
}

.map svg path.region{
	cursor:pointer
}

.map #map_overlay{
	display:none
}

footer{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	padding:80px 0 25px 0
}

i.icon{
	display:inline-block
}

a{
	color:#0180bc;
	text-decoration:none
}

a:hover{
	color:#015d89
}

.clearfix:before,.clearfix:after{
	content:" ";
	display:table
}

.clearfix:after{
	clear:both
}

.ie8 .map svg{
	display:none
}

.ie8 .map #map_overlay{
	display:block
}

.ie8 .main{
	margin-bottom:60px
}

.ie8 .footer_nav ul{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	padding:.75em 0;
	overflow:hidden;
	font-size:13px;
	line-height:26px;
	border:0 solid #ededed;
	border-width:1px 0
}

.ie8 #world_sites{
	width:960px;
	margin-left:auto;
	margin-right:auto
}

.map{
	margin-top:30px;
	margin-right: -10px;
	
}

.left{
	margin-left:10px
}

.cellbazaar-olx-message{
	position:absolute;
	bottom:40px;
	left:10px;
	width:400px;
	height:65px;
	padding:15px;
	font-size:13px;
	line-height:1.5em;
	color:#555;
	background-color:#fefce7;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	-ms-border-radius:8px;
	-khtml-border-radius:8px;
	border:1px solid #f5ea86
}

.cellbazaar-olx-message .merge-msg{
	display:inline-block;
	width:185px
}

.cellbazaar-olx-message .merge-msg strong{
	display:block;
	font-size:1.15em;
	margin-bottom:7px
}

.cellbazaar-olx-message i{
	display:inline-block;
	float:right
}

ul.account{
	list-style-type:none;
	margin:0;
	padding:0
}

ul.account li{
	display:inline-block;
	padding:0 5px
}

ul.account li:first-child{
	border-right:1px solid #ccc
}

ul.account li a{
	color:#444;
	text-decoration:none;
	font-size:13px;
	display:block;
	padding:5px
}

ul.account li a .caret{
	display:inline-block;
	width:1px;
	height:1px;
	margin-left:3px;
	vertical-align:1px;
	border-width:5px 3px 0 3px;
	border-color:#414141 transparent transparent transparent;
	border-style:solid;
	transform:scale(0.9999)
}

ul.account li a:hover{
	color:#000
}

ul.account li a:hover .caret{
	border-color:#444 transparent transparent transparent
}

ul.account li.open .signin-dropdown{
	display:block
}

ul.account li.open a .caret{
	border-color:transparent transparent #444 transparent;
	border-width:0 3px 5px 3px;
	vertical-align:2px
}

.account-container .account li{
	position:relative
}

.signin-dropdown{
	position:relative;
	background:#fff;
	border-style:solid;
	border-width:3px;
	border-color:#ccc;
	display:none;
	position:absolute;
	z-index:10;
	width:247px;
	left:-108px;
	top:40px;
	height:245px;
	padding:14px
}

.signin-dropdown:after,.signin-dropdown:before{
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
	bottom:100%;
	left:50%
}

.signin-dropdown:after{
	border-color:rgba(255,255,255,0);
	border-bottom-color:#fff;
	border-width:7px;
	margin-left:-7px
}

.signin-dropdown:before{
	border-color:rgba(204,204,204,0);
	border-bottom-color:#ccc;
	border-width:11px;
	margin-left:-11px
}

.signin-dropdown.cursor-bottom:after,.signin-dropdown.cursor-bottom:before{
	top:100%;
	left:50%;
	bottom:auto
}

.signin-dropdown.cursor-right:after,.signin-dropdown.cursor-right:before{
	left:100%;
	top:50%;
	bottom:auto
}

.signin-dropdown.cursor-right:after{
	border-bottom-color:transparent;
	border-left-color:#fff
}

.signin-dropdown.cursor-right:before{
	border-bottom-color:transparent;
	border-left-color:#ccc
}

.signin-dropdown.cursor-left:after,.signin-dropdown.cursor-left:before{
	right:100%;
	top:50%;
	left:auto;
	bottom:auto
}

.signin-dropdown.cursor-left:after{
	border-bottom-color:transparent;
	border-right-color:#fff
}

.signin-dropdown.cursor-left:before{
	border-bottom-color:transparent;
	border-right-color:#ccc
}

.signin-dropdown.cursor-left:after,.signin-dropdown.cursor-right:after{
	margin-top:-7px;
	margin-left:0
}

.signin-dropdown.cursor-left:before,.signin-dropdown.cursor-right:before{
	margin-top:-11px;
	margin-left:0
}

.signin-dropdown:after,.signin-dropdown:before{
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
	bottom:100%;
	left:50%
}

.signin-dropdown:after{
	border-color:rgba(255,255,255,0);
	border-bottom-color:#fff;
	border-width:7px;
	margin-left:-7px
}

.signin-dropdown:before{
	border-color:rgba(204,204,204,0);
	border-bottom-color:#ccc;
	border-width:11px;
	margin-left:-11px
}

.signin-dropdown.cursor-bottom:after,.signin-dropdown.cursor-bottom:before{
	top:100%;
	left:50%;
	bottom:auto
}

.signin-dropdown.cursor-right:after,.signin-dropdown.cursor-right:before{
	left:100%;
	top:50%;
	bottom:auto
}

.signin-dropdown.cursor-right:after{
	border-bottom-color:transparent;
	border-left-color:#fff
}

.signin-dropdown.cursor-right:before{
	border-bottom-color:transparent;
	border-left-color:#ccc
}

.signin-dropdown.cursor-left:after,.signin-dropdown.cursor-left:before{
	right:100%;
	top:50%;
	left:auto;
	bottom:auto
}

.signin-dropdown.cursor-left:after{
	border-bottom-color:transparent;
	border-right-color:#fff
}

.signin-dropdown.cursor-left:before{
	border-bottom-color:transparent;
	border-right-color:#ccc
}

.signin-dropdown.cursor-left:after,.signin-dropdown.cursor-right:after{
	margin-top:-7px;
	margin-left:0
}

.signin-dropdown.cursor-left:before,.signin-dropdown.cursor-right:before{
	margin-top:-11px;
	margin-left:0
}

.signin-dropdown button,.signin-dropdown .text-field input{
	display:block;
	width:100%;
	outline:0;
	border:0
}

.signin-dropdown button,.signin-dropdown input,.signin-dropdown .text-field{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

.signin-dropdown button{
	font-size:14px;
	font-weight:normal;
	color:#fff
}

.signin-dropdown button,.signin-dropdown .text-field{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	-khtml-border-radius:3px
}

.signin-dropdown button.facebook{
	background:#426198;
	padding:4px;
	text-align:left
}

.signin-dropdown button.facebook i{
	color:#fff;
	font-size:2em;
	margin-right:5px
}

.signin-dropdown button.facebook span{
	display:inline-block;
	vertical-align:top;
	padding-top:8px
}

.signin-dropdown button.facebook:hover{
	background-color:#4a6caa
}

.signin-dropdown button.facebook:active{
	background-color:#426198
}

.signin-dropdown .separator{
	background-color:#ccc;
	height:1px;
	margin:25px 0;
	text-align:center;
	position:relative
}

.signin-dropdown .separator .text{
	position:absolute;
	display:block;
	top:-8px;
	left:120px;
	width:20px;
	background-color:#fff;
	color:#666;
	font-size:12px;
	text-align:center;
	margin-left:-10px
}

.signin-dropdown .text-field{
	background-color:#ccc;
	padding:1px;
	display:table;
	width:100%;
	margin-bottom:10px;
	border:1px solid #fff;
	-webkit-transition:all linear .1s;
	-moz-transition:all linear .1s;
	-o-transition:all linear .1s;
	transition:all linear .1s
}

.signin-dropdown .text-field .icon,.signin-dropdown .text-field input{
	display:table-cell
}

.signin-dropdown .text-field .icon{
	text-align:center;
	vertical-align:middle;
	width:34px
}

.signin-dropdown .text-field i{
	color:#fff
}

.signin-dropdown .text-field input{
	font-size:14px;
	padding:8px 7px 9px 7px;
	border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	-webkit-border-radius:0 2px 2px 0;
	-o-border-radius:0 2px 2px 0;
	-ms-border-radius:0 2px 2px 0;
	-khtml-border-radius:0 2px 2px 0
}

.signin-dropdown .text-field.focused{
	background-color:#0191d5;
	border-color:#0191d5
}

.signin-dropdown .actions:before,.signin-dropdown .actions:after{
	content:" ";
	display:table
}

.signin-dropdown .actions:after{
	clear:both
}

.signin-dropdown .actions:before,.signin-dropdown .actions:after{
	content:" ";
	display:table
}

.signin-dropdown .actions:after{
	clear:both
}

.signin-dropdown .actions button{
	background-color:#4f9962;
	height:36px;
	border-bottom:2px solid #3e774c;
	position:relative;
	margin-bottom:10px
}

.signin-dropdown .actions button:hover{
	background-color:#52a066
}

.signin-dropdown .actions button:active{
	background-color:#468857;
	border-bottom:0;
	border-top:2px solid #3e774c
}

.signin-dropdown .actions .remember,.signin-dropdown .actions .forgot{
	font-size:13px
}

.signin-dropdown .actions .remember{
	float:left;
	cursor:pointer
}

.signin-dropdown .actions .forgot{
	float:right;
	padding:0;
	color:#0180bc
}

.signin-dropdown .actions .forgot:hover{
	color:#016fa3
}

body.ie8 .signin-dropdown,body.ie9 .signin-dropdown{
	border:3px solid #ccc
}

body.ie8 .signin-dropdown .separator .text,body.ie9 .signin-dropdown .separator .text{
	top:-8px;
	left:120px
}

body.ie8 .signin-dropdown .text-field .icon,body.ie9 .signin-dropdown .text-field .icon{
	display:block
}

.btn-cta{
	display:inline-block;
	position:relative;
	padding:15px 35px 11px 20px;
	background-color:#0180bc;
	color:#fff;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-khtml-border-radius:4px;
	border-bottom:3px solid #016898;
	font-size:16px;
	line-height:1.2em;
	text-align:center;
	text-shadow:0 -1px 0 rgba(0,0,0,0.4);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.btn-cta:after{
	position:absolute;
	top:19px;
	right:19px;
	width:0;
	height:0;
	content:"";
	border-width:5px 0 5px 8px;
	border-color:transparent transparent transparent #FFF;
	border-style:solid;
	transform:scale(0.9999)
}

.btn-cta:hover{
	color:#fff;
	background-color:#0183c1
}

.btn-cta:active{
	background-color:#016fa3;
	border-bottom:0;
	border-top:3px solid #015d89
}

.btn-cta:active:after{
	top:20px
}

.sticky-notification{
	font-size:14px
}

.sticky-notification .sprite_telenor_logo,.sticky-notification .sprite_grameenphone_logo{
	display:inline-block;
	float:none;
	margin:0 5px;
	vertical-align:middle
}

.sticky-notification .fonticon-close-circle{
	display:block;
	float:right;
	color:#9a9a9a;
	font-size:18px
}

.sticky-notification .fonticon-close-circle:hover{
	text-decoration:none;
	color:#414141
}

.sticky-notification .triangle{
	display:inline-block;
	width:0;
	height:0;
	vertical-align:middle;
	border-color:transparent transparent transparent #3082bb;
	border-width:3px 0 3px 6px;
	border-style:solid;
	transform:scale(0.9999)
}

#banner_aside{
	border:0;
	background-color:transparent
}

.top_banner,.side_banner,.aside_banner{
	overflow:hidden;
	line-height:0
}

.top_banner a,.side_banner a,.aside_banner a{
	display:block;
	cursor:pointer
}

.top_banner img,.side_banner img,.aside_banner img{
	max-width:100%
}

.top_banner{
	margin:0 auto
}

.side_banner{
	position:absolute;
	z-index:0;
	top:0;
	margin:0;
	padding:0
}

.side_banner.left{
	left:0
}

.side_banner.right{
	right:0
}

.wrapper{
	height:450px;
	overflow:hidden;
	position:relative;
	z-index:1
}

.video-player{
	position:fixed;
	z-index:10;
	background-color:rgba(0,0,0,0.5);
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	transition:opacity .5s linear
}

.video-player .video{
	top:10%;
	width:620px;
	margin:0 auto;
	padding-top:22px;
	position:relative
}

.video-player .video iframe{
	background-color:#000
}

.video-player .video .close{
	color:#fff;
	font-size:14px;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer
}

.video-player .video .close i{
	display:inline-block;
	vertical-align:top;
	margin-left:3px
}

.sticky-notification ~ .side_banner{
	top:52px
}

.ie8 .side_banner{
	width:150px;
	height:1150px
}

.ie8 .video-player{
	background-color:#808080
}

.sticky-notification{
	height:50px;
	border-bottom:2px solid #eae2b2;
	background-color:#fffadf;
	position:relative;
	z-index:1
}

.sticky-notification .inner-banner{
	position:relative;
	width:940px;
	margin:0 auto;
	padding-top:.9em;
	text-align:center
}

.sticky-notification a{
	color:#3082bb;
	font-weight:normal
}

.sticky-notification a:hover{
	text-decoration:none
}

.sticky-notification .icon-browser{
	display:inline-block;
	margin-left:5px
}

.sticky-notification .icon-browser i{
	display:block;
	width:26px;
	height:26px;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:center center
}

.sticky-notification .icon-browser.icon-chrome i{
	background-image:url("/img/icon_chrome.png")
}

.sticky-notification .icon-browser.icon-firefox i{
	background-image:url("/img/icon_firefox.png");
	width:27px
}

.sticky-notification .icon-browser.icon-opera i{
	background-image:url("/img/icon_opera.png");
	width:23px
}

.sticky-notification .icon-browser.icon-ie i{
	background-image:url("/img/icon_ie.png")
}

#ie7Banner .inner-banner{
	padding-top:.5em
}

.header{
	width:450px;
	font-size:1em
}

.header h1{
	margin:0;
	font-size:1.6em;
	font-weight:bold;
	letter-spacing:1px;
	color:#444
}

.header h1.bn{
	font-size:21px;
	letter-spacing:0
}

.header p{
	margin:.8em 0 0 0;
	font-size:.9em;
	line-height:1.5em;
	color:#444
}

.header a{
	color:#0180bc
}

body.ie8 .header{
	width:455px
}

.locations{
	font-size:1em
}

.locations p{
	margin:.8em 0 0 0;
	font-size:.9em;
	line-height:1.5em;
	color:#444
}

.locations .location_list{
	border-left:2px solid #ccc;
	float:left;
	margin-top:20px
}

.locations .location_list h3{
	margin:0 0 10px 0;
	padding-left:10px;
	font-size:14px
}

.locations .location_list ul{
	list-style-type:none;
	margin:0;
	padding:0px 0px 0px 0px
}

.locations .location_list li:last-child{
	margin-bottom:0
}

.locations .location_list a{
	display:inline-block;
	padding:4px 10px 4px 12px;
	font-size:14px;
	color:#0180bc;
	position:relative;
	margin-left:-2px;
	-webkit-transition:all .08s linear;
	-moz-transition:all .08s linear;
	-o-transition:all .08s linear;
	transition:all .08s linear
}

.locations .location_list a:hover,.locations .location_list a.active{
	color:#FFF;
	text-shadow:0 -1px 0 rgba(0,0,0,0.4)
}

.locations .location_list a:hover span,.locations .location_list a.active span{
	color:#FFF;
	text-shadow:0 -1px 0 rgba(0,0,0,0.4)
}

.locations .location_list a.region:hover,.locations .location_list a.region.active{
	background-color:#4f9962
}

.locations .location_list a.city:hover,.locations .location_list a.city.active{
	background-color:#db3e3e
}

.locations .location_list span{
	padding-left:5px;
	color:#666
}

.map-marker{
	position:absolute;
	display:none;
	height:15px;
	width:15px;
	border:2px solid #fff;
	border-radius:15px;
	background-color:#db3e3e
}

.ie8 .map-marker{
	height:10px;
	width:10px
}

.map-helper{
	position:absolute;
	display:inline-block;
	display:none;
	padding:6px 8px;
	color:#fff;
	font-size:13px;
	background-color:#444;
	white-space:nowrap
}

.map-helper:after{
	position:absolute;
	bottom:-18px;
	right:15px;
	width:0;
	height:0;
	content:"";
	border-style:solid;
	border-width:0 18px 18px 0;
	border-color:transparent #444 transparent transparent
}

.liked-ads{
	display:table;
	width:960px;
	margin-left:auto;
	margin-right:auto
}

.liked-ads h3{
	display:table-caption;
	font-size:14px
}

.liked-ads ul{
	display:table-row;
	margin:0;
	padding:0;
	list-style-type:none
}

.liked-ads ul li{
	display:table-cell;
	width:137px
}

.liked-ads ul li:last-child{
	margin-right:0
}

.ad{
	display:block;
	position:relative;
	width:80px;
	margin:0 auto;
	padding:2px
}

.ad img{
	display:block;
	margin:auto 0 auto auto;
	max-width:80px;
	max-height:60px;
	border:1px solid #414141;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	-khtml-border-radius:2px
}

.ad span{
	position:absolute;
	bottom:-4px;
	right:-4px;
	padding:1px 6px 3px 4px;
	color:#fff;
	background-color:#c60;
	-webkit-border-top-right-radius:2px;
	-moz-border-top-right-radius:2px;
	-o-border-top-right-radius:2px;
	-ms-border-top-right-radius:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-bottom-right-radius:2px;
	-o-border-bottom-right-radius:2px;
	-ms-border-bottom-right-radius:2px;
	border-bottom-right-radius:2px;
	-webkit-box-shadow:2px 2px 0 #ccc;
	-moz-box-shadow:2px 2px 0 #ccc;
	-o-box-shadow:2px 2px 0 #ccc;
	box-shadow:2px 2px 0 #ccc;
	font-size:10px;
	line-height:1.8em;
	text-align:right
}

.ad span:before{
	position:absolute;
	top:0;
	left:-10px;
	width:0;
	height:0;
	content:"";
	border-width:11px 10px 11px 0;
	border-color:transparent #c60 transparent transparent;
	border-style:solid;
	transform:scale(0.9999)
}

.ie8 .liked-ads ul li{
	margin-right:47px
}

html[lang=bn-BD] .ad span:after{
	content:" টাকা"
}

html[lang=en-US] .ad span:after{
	content:" Tk"
}

html[lang=en-PK] .ad span:after{
	content:" Rs"
}

html[lang=th-TH] .ad span:after{
	content:" บาท"
}

.categories{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px
}

.categories h3{
	text-align:center;
	margin:0 0 10px 0;
	font-size:15px
}

.categories .category{
	float:left;
	margin:0 4px;
	width:98px;
	background-color:#f1f1f1;
	padding:15px;
	text-align:center;
	font-size:13px;
	color:#555;
	height:58px;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear
}

.categories .category i{
	display:block;
	margin:0 auto 5px auto
}

.categories .category:hover{
	background-color:#e4e4e4
}

.footer_nav{
	padding:.75em 0;
	overflow:hidden;
	font-size:13px;
	line-height:26px;
	border:0 solid #ededed;
	border-width:1px 0
}

.footer_nav a{
	color:#254c32;
	font-weight:normal
}

.footer_nav a>i{
	color:#9a9a9a
}

.footer_nav a:hover{
	color:#414141;
	text-decoration:none
}

.footer_nav a:hover>i{
	color:#414141
}

.footer_nav ul{
	margin:0;
	padding:0
}

.footer_nav li{
	float:left;
	margin:0 2.5em 0 0;
	list-style-type:none
}

.footer_nav .last{
	margin:0;
	padding:0;
	border:0
}

.footer_nav .social{
	float:right;
	margin-right:10px;
	margin-left:0
}

.footer_nav .social i{
	font-size:1.5em;
	line-height:1.3em
}

#likebtn{
	float:right;
	width:80px;
	height:20px;
	margin-left:19px;
	margin-top:3px
}

#likebtn i{
	display:block
}

#likebtn #fb_like_number{
	float:left;
	font-size:11px;
	color:#333;
	text-align:left;
	direction:ltr;
	border-collapse:collapse;
	border-spacing:0
}

#likebtn #fb_like_number .pluginCountButton{
	background:none repeat scroll 0 0 #fff;
	border:1px solid #898f9c;
	border-radius:2px;
	color:#6a7180;
	display:inline-block;
	font-size:11px;
	height:auto;
	line-height:18px;
	margin-left:6px;
	min-width:15px;
	padding:0 3px;
	text-align:center;
	white-space:nowrap
}

#likebtn #fb_like_number .pluginCountButtonNub{
	height:0;
	left:2px;
	position:relative;
	top:-15px;
	width:5px;
	z-index:2
}

#likebtn #fb_like_number .pluginCountButtonNub s{
	border-color:transparent #898f9c;
	border-style:solid;
	border-width:4px 5px 4px 0;
	display:block;
	position:relative;
	top:1px
}

#likebtn #fb_like_number .pluginCountButtonNub i{
	display:block;
	position:relative;
	border:4px solid #898f9c;
	border-right:5px #fff;
	border-left-width:0;
	left:2px;
	top:-7px
}

#twitter_follow_btn{
	float:right;
	margin-right:25px;
	margin-top:4px;
	line-height:18px
}

#twitter_follow_btn a{
	display:inline-block;
	position:relative;
	box-sizing:border-box;
	overflow:hidden;
	height:18px;
	max-width:100%;
	color:#333;
	background-color:#f8f8f8;
	background-color:#dedede;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
	background-image:-moz-linear-gradient(top,#fff,#dedede);
	background-image:-ms-linear-gradient(top,#fff,#dedede);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#dedede));
	background-image:-webkit-linear-gradient(top,#fff,#dedede);
	background-image:-o-linear-gradient(top,#fff,#dedede);
	background-image:linear-gradient(top,#fff,#dedede);
	border:#CCC solid 1px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-khtml-border-radius:4px;
	font:normal normal normal 11px/22px 'Helvetica Neue',Arial,sans-serif;
	font-weight:bold;
	text-shadow:0 1px 0 rgba(255,255,255,0.5);
	text-decoration:none;
	vertical-align:top;
	cursor:pointer;
	zoom:1;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

#twitter_follow_btn a:hover{
	text-decoration:none
}

#twitter_follow_btn a i{
	position:absolute;
	top:50%;
	left:4px;
	margin-top:-6px
}

#twitter_follow_btn a .label{
	position:relative;
	top:-2px;
	padding:0 7px 0 22px;
	white-space:nowrap;
	text-decoration:none;
	vertical-align:top
}

a.social-link{
	margin-left:15px
}

a.social-link i{
	display:inline-block;
	margin-right:2px;
	vertical-align:middle
}

#world_sites{
	font-size:13px
}

#world_sites h6{
	margin:2.5em 0 .5em 0;
	font-size:1em;
	color:#254c32
}

#world_sites p{
	color:#939393
}

#world_sites a{
	color:#939393;
	font-size:11px;
	font-weight:normal;
	line-height:20px
}

#world_sites a:hover{
	color:#414141;
	text-decoration:underline
}

.modal{
	position:fixed;
	z-index:10;
	background-color:rgba(0,0,0,0.5);
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	opacity:0;
	transition:opacity .5s linear
}

.modal .modal-content{
	top:10%;
	margin:0 auto;
	position:relative;
	width:450px;
	padding:25px;
	background:#fff
}

.modal .modal-content .close{
	font-size:1em;
	line-height:1.3em;
	cursor:pointer;
	position:absolute;
	display:block;
	width:20px;
	height:20px;
	top:20px;
	right:20px;
	color:#fff;
	text-align:center;
	background-color:#e28c29;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-khtml-border-radius:50%
}

.ie8 .modal{
	background-color:#808080
}

.modal.olx-splash .modal-content{
	width:435px;
	padding:100px 5px 25px;
	background:#fff url('/img/logo_olx_ekhanei.png') no-repeat center 20px
}

.modal.olx-splash .modal-content h1{
	position:relative;
	font-size:1.7em
}

.modal.olx-splash .modal-content h1:after{
	content:"_____________";
	color:#d9d9d9;
	position:absolute;
	left:0;
	bottom:-10px;
	font-size:20px;
	display:block;
	width:100%;
	text-align:center
}

.modal.olx-splash .modal-content .info{
	font-size:16px;
	width:65%;
	margin:0 auto 30px;
	line-height:1.5em
}

.modal.olx-splash .modal-content .btn{
	display:inline-block;
	border-radius:5px;
	color:white;
	font-size:18px;
	padding:10px 25px
}

.modal.olx-splash .modal-content .btn+.btn{
	margin-left:5px
}

.modal.olx-splash .modal-content .btn.btn-primary{
	background-color:#6aa663
}

.modal.olx-splash .modal-content .btn.btn-default{
	background-color:#a6a6a6
}

.locations .location_list a.en{
	padding-bottom:6px
}
body {
   transform: scale(0.9);
   transform-origin: 0% 0%;
   
}